@model Din_Media_Group_Job_Portal.Models.tb_user

@{
    ViewBag.Title = "Job Portal || A Project of Din Media Group";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
<script type="text/javascript" src="/Scripts/userScripts/scripts/EditProfile.js"></script>
<style>
    .profil-heading {
        color: #0079d6;
        font-size: x-large;
    }
</style>
<div id="wrapper">

    <!-- Header
    ================================================== -->
    <header class="sticky-header full-width">
        @Html.Partial("~/Views/Header/HeaderSelectionJobSeeker.cshtml")
    </header>
    <div class="clearfix"></div>
    <script>
        $(".sticky-header #logo a img").attr("src", "/Content/userContent/images/logo.png");
    </script>

    <!-- Titlebar
    ================================================== -->

    <div id="titlebar" class="resume photo-bg" style="background: url(/Jobseeker_cover_images/@Model.tb_profile_employee.FirstOrDefault().cover_picture) no-repeat;background-size: 100% 100%;">

        <div class="container">

            <div class="ten columns">
                <div class="resume-titlebar">
                    <a href="#" class="">
                        <img src="/Jobseeker_Profile_images/@Model.tb_profile_employee.FirstOrDefault().profile_picture" alt="">
                    </a>
                    <div class="resumes-list-content">
                        <h4 style="color:white;">
                            @Model.tb_employee_registration_data.FirstOrDefault().first_name  @Model.tb_employee_registration_data.FirstOrDefault().last_name

                            <span style="color:white;">@Model.tb_employee_registration_data.FirstOrDefault().job_title</span>

                        </h4>
                        <span class="icons" style="color:white;"><i class="fa fa-map-marker"></i>@Model.tb_employee_registration_data.FirstOrDefault().location</span>
                        <span class="icons" style="color:white;"><a href="#" style="color:white;"><i class="fa fa-link"></i> My Video</a></span>
                        <div class="skills">
                            <span>JavaScript</span>
                            <span>PHP</span>
                            <span>WordPress</span>
                        </div>
                        <div class="clearfix"></div>

                    </div>
                </div>
            </div>

            <div class="six columns">
                <div class="two-buttons">
                    <a href="/JobSeeker/EditProfile" class="button" style="width:150px;"><i class="fa fa-upload"></i> Edit Profile</a>

                    <a href="#" class="button dark" style="width:150px;"><i class="fa fa-print"></i> Print Profile</a>
                </div>
            </div>
        </div>
        <span style="float:right; bottom:10px; display:none;">
            <a href=".cover-upload" class="button popup-with-zoom-anim">
                <i class="fa fa-upload">Edit Cover</i>
            </a>
        </span>
    </div>

    <!-- Content
    ================================================== -->
    <div class="container" id="page_container">
        <!-- Recent Jobs -->
        <div class="eight columns" id="summary_div">
            <div class="padding-right">
                <span style="float:left;">
                    <strong class="margin-bottom-15 profil-heading">About Me</strong>
                </span>
                <br />
                <div id="summary_text">

                </div>
                @Html.Raw(Server.HtmlDecode(Model.tb_profile_employee.FirstOrDefault().summary))


            </div>
        </div>
        <!-- Widgets -->
        @if (Model.tb_profile_employee.FirstOrDefault().video_id != null)
        {
            <div class="eight columns video_div">
                <script src="https://api.dmcdn.net/all.js"></script>
                <div id="player" style="height:300px;"></div>
                <script>
                    var player = DM.player(document.getElementById("player"), {
                        video: "@Model.tb_profile_employee.FirstOrDefault().video_id",
                        width: "100%",
                        height: "100%",
                        params: {
                            autoplay: true,
                            mute: true,
                            "sharing-enable": false,
                            related: 0,
                            "ui-logo": false
                        }
                    });
                </script>
            </div>
        }


        <!-- Widgets -->
        <div class="eight columns" id="education_div">
            <span style="float:left;">
                <strong class="margin-bottom-15 profil-heading">Education</strong>
            </span>
            <br />
            <!-- Resume Table -->
            <dl class="resume-table">
                @for (int i = 0; i < Model.tb_profile_employee.FirstOrDefault().tb_education_employee.Count; i++)
                {
                    Din_Media_Group_Job_Portal.Models.tb_education_employee edu = Model.tb_profile_employee.FirstOrDefault().tb_education_employee.ElementAt(i);

                    <dt>
                        
                        <span>
                            <small class="date">@edu.education_start_date - @edu.education_end_date</small>
                            <strong>@edu.degree_title @edu.field_of_study at @edu.institution_name</strong>
                        </span>

                    </dt>
                    <dd>
                        @if (edu.education_notes != null)
                        {

                            <p> @edu.education_notes </p>
                        }

                    </dd>
                }


            </dl>
        </div>

        <div class="eight columns">

            <span style="float:left;">
                <strong class="margin-bottom-15 profil-heading">Exprience</strong>
            </span>
            <br />
            <!-- Resume Table -->
            <dl class="resume-table">
                @for (int i = 0; i < Model.tb_profile_employee.FirstOrDefault().tb_experience_employee.Count; i++)
                {
                    Din_Media_Group_Job_Portal.Models.tb_experience_employee exp = Model.tb_profile_employee.FirstOrDefault().tb_experience_employee.ElementAt(i);
                    <dt>
                        
                        <span>
                            <small class="date">
                                @if (exp.experience_start_date != null)
                                {@exp.experience_start_date} - @if (@exp.experience_currently_working) { Write("Present"); }
                                else if (exp.experience_end_date != null)
                                {@exp.experience_end_date}

                            </small><br />
                            <small>@exp.job_title</small>
                            <strong>@exp.company_name, @exp.company_location</strong>
                        </span>
                    </dt>
                    <dd>
                        @if (exp.experience_notes != null)
                        {

                            <p> @exp.experience_notes </p>
                        }
                    </dd>

                }


            </dl>
        </div>
        <div class="eight columns">

            <span style="float:left;">
                <strong class="margin-bottom-15 profil-heading">Projects</strong>
            </span>
            <br />
            <!-- Resume Table -->
            <dl class="resume-table">
                @for (int i = 0; i < Model.tb_profile_employee.FirstOrDefault().tb_projects_employee.Count; i++)
                {
                    Din_Media_Group_Job_Portal.Models.tb_projects_employee proj = Model.tb_profile_employee.FirstOrDefault().tb_projects_employee.ElementAt(i);
                    <dt>
                        
                        <span>
                            <small class="date">@if (proj.project_start_date != null)
                            {@proj.project_start_date} - @if (@proj.project_currently_working) { Write("Present"); }
                            else if (proj.project_end_date != null)
                            {@proj.project_end_date}</small> <br />
                            <small>@proj.project_title</small>
                            <strong>@proj.position</strong>
                        </span>

                    </dt>
                    <dd>
                        @if (proj.project_notes != null)
                        {

                            <p> @proj.project_notes </p>
                        }
                        <p> <a href="@if (proj.project_url.IsEmpty()) { Write("#"); }else{@proj.project_url}" target="_blank">Link of Project</a></p>
                    </dd>


                }


            </dl>
        </div>

        <!-- Languages and Skilss-->
        <div class="eight columns">

            <span style="float:left;">
                <strong class="margin-bottom-15 profil-heading">Skills</strong>
            </span>
            <br />
            <!-- Resume Table -->
            <dl class="resume-table">
                @for (int i = 0; i < Model.tb_profile_employee.FirstOrDefault().tb_skills_employee.Count; i++)
                {
                    Din_Media_Group_Job_Portal.Models.tb_skills_employee skill = Model.tb_profile_employee.FirstOrDefault().tb_skills_employee.ElementAt(i);
                    <dt>
                        
                        <span>
                            <strong class="date">@skill.skill_name<small> - @skill.skill_experience</small></strong>
                        </span>
                    </dt>
                }

            </dl>
        </div>
        <div class="seven columns">

            <span style="float:left;">
                <strong class="margin-bottom-15 profil-heading">Languages</strong>
            </span>
            <br />
            <!-- Resume Table -->
            <dl class="resume-table">
                @for (int i = 0; i < Model.tb_profile_employee.FirstOrDefault().tb_languages_employee.Count; i++)
                {
                    Din_Media_Group_Job_Portal.Models.tb_languages_employee language = Model.tb_profile_employee.FirstOrDefault().tb_languages_employee.ElementAt(i);
                    <dt>
                        
                        <span>
                            <strong class="date">@language.language_name<small> - @language.language_proficiency</small></strong>
                        </span>
                    </dt>

                }


            </dl>
        </div>

    </div>

    <!-- Footer
    ================================================== -->
    <div class="margin-top-45"></div>

    @Html.Partial("~/Views/Footer/_partialUserFooter.cshtml")

    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>

</div>
<script>
    if ($('#page_container').has('.video_div')) {
        var summary_height = $('#summary_div').height();
        var education_height = $('.video_div').height();
        if (education_height < summary_height) {
            $('.video_div').height(summary_height);
        }
        else if (summary_height < education_height) {
            $('#summary_div').height(education_height);
        }
    }
    else {
        var summary_height = $('#summary_div').height();
        var education_height = $('#education_div').height();
        if (education_height < summary_height) {
            $('#education_div').height(summary_height);
        }
        else if (summary_height < education_height) {
            $('#summary_div').height(education_height);
        }
    }
</script>
