<div class="container">
    <div class="sixteen columns">

        <!-- Logo -->
        <div id="logo">
            <h1><a href="@Url.Content("~")"><img src="@Url.Content("~/Content/userContent/images/logo2.png")" alt="Daily Jobs" /></a></h1>
        </div>

        <!-- Menu -->
        <nav id="navigation" class="menu">
            <ul id="responsive">
                <li><a href="@Url.Content("~/JobSeeker/BrowseJob")">Browse Jobs</a></li>
                <li><a href="@Url.Content("~/JobSeeker/ManageResume")">CV Manager</a></li>
                <li><a href="#">Job History</a>
                    <ul>
                        <li><a href="@Url.Content("~/JobSeeker/AppliedJobs")">Applied Jobs</a></li>
                        <li><a href="@Url.Content("~/JobSeeker/SavedJobs")">Saved Jobs</a></li>
                    </ul>
                </li>
               
                <li>                    
                    <a href="@Url.Content("~/User/ContactUs")">Contact Us</a>           
                </li>
                <li><a href="#">FAQs</a></li>
                
                <li>
                    <a href="@Url.Content("~/JobSeeker/UserProfile")"><i class="fa fa-user"></i> Profile</a>
                    <ul>
                        <li><a href="@Url.Content("~/JobSeeker/Dashboard")">Dashboard</a></li>
                        <li><a href="@Url.Content("~/JobSeeker/AccountSetting")" class="button">Settings</a></li>
                        <li><a href="@Url.Content("~/User/LogOut")" class="button">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

        <!-- Navigation -->
        <div id="mobile-navigation">
            <a href="#menu" class="menu-trigger"><i class="fa fa-reorder"></i> Menu</a>
        </div>

    </div>
</div>