<div class="container">
    <div class="sixteen columns">

        <!-- Logo -->
        <div id="logo">
            <h1><a href="@Url.Content("~")"><img src="@Url.Content("~/Content/userContent/images/logo2.png")" alt="Daily Jobs" /></a></h1>
        </div>

        <!-- Menu -->
        <nav id="navigation" class="menu">
            <ul id="responsive">
                <li>
                    <a href="#">For Candidates</a>
                    <ul>
                        <li><a href="@Url.Content("~/JobSeeker/BrowseJob")">Browse Jobs</a></li>
                        <li><a href="@Url.Content("~/JobSeeker/UserProfile")">View Profile</a></li>
                        <li><a href="@Url.Content("~/JobSeeker/CreateProfile")">Add Resume</a></li>
                        <li><a href="@Url.Content("~/JobSeeker/ManageResume")">Manage Resumes</a></li>
                       
                    </ul>
                </li>

                <li>
                    <a href="#">For Employers</a>
                    <ul>
                        <li><a href="@Url.Content("~/Employer/PostJob")">Add Job</a></li>
                        <li><a href="@Url.Content("~/Employer/ManageJobs")">Manage Jobs</a></li>
                        <li><a href="@Url.Content("~/Employer/ManageApplications")">Manage Applications</a></li>
                        <li><a href="@Url.Content("~/Employer/BrowseResume")">Browse Resumes</a></li>
                    </ul>
                </li>

                <li><a href="@Url.Content("~/User/Premium")">Premium Services</a></li>
                <li><a href="@Url.Content("~/User/ContactUs")">Contact Us</a></li>
            </ul>


            <ul class="float-right">
                <li><a href="@Url.Content("~/User/MyAccount")#tab2"><i class="fa fa-user"></i> Sign Up</a></li>
                <li><a href="@Url.Content("~/User/MyAccount")"><i class="fa fa-lock"></i> Log In</a></li>
            </ul>

        </nav>

        <!-- Navigation -->
        <div id="mobile-navigation">
            <a href="#menu" class="menu-trigger"><i class="fa fa-reorder"></i> Menu</a>
        </div>

    </div>
</div>