<div class="container">
    <div class="sixteen columns">

        <!-- Logo -->
        <div id="logo">
            <h1><a href="@Url.Content("~")"><img src="@Url.Content("~/Content/userContent/images/logo2.png")" alt="Work Scout" /></a></h1>
        </div>

        <!-- Menu -->
        <nav id="navigation" class="menu">
            <ul id="responsive">
              
                <li><a href="@Url.Content("~/Employer/PostJob")">Post a Job</a></li>
                <li><a href="@Url.Content("~/Employer/ManageJobs")">Manage Jobs</a></li>
                <li><a href="@Url.Content("~/Employer/BrowseResume")">Browse Resumes</a></li>
                    
                <li>
                    <a href="@Url.Content("~/Employer/ViewDepartment")"> Departments</a>
                </li>
                <li>
                    <a href="@Url.Content("~/User/ContactUs")">Contact Us</a>
                </li>
                <li><a href="#">FAQs</a></li>
                
                <li>
                    <a href="#"><i class="fa fa-user"></i> Profile</a>
                    <ul>
                        <li><a href="@Url.Content("~/Employer/Dashboard")">Dashboard</a></li>
                        <li><a href="@Url.Content("~/Employer/CompleteProfile")">Complete Profile</a></li>
                        <li><a href="@Url.Content("~/Employer/AccountSetting")" class="button">Settings</a></li>
                        <li><a href="@Url.Content("~/User/LogOut")" class="button">Logout</a></li>
                    </ul>
                </li>
            </ul>
            
        </nav>

        <!-- Navigation -->
        <div id="mobile-navigation">
            <a href="#menu" class="menu-trigger"><i class="fa fa-reorder"></i> Menu</a>
        </div>

    </div>
</div>