@model Din_Media_Group_Job_Portal.Models.tb_user
@{
    ViewBag.Title = "Account Setting";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<div id="wrapper">

    <!-- Header
    ================================================== -->
    <header class="sticky-header full-width">
        @Html.Partial("~/Views/Header/HeaderSelectionEmployer.cshtml")

    </header>
    <div class="clearfix"></div>
    <script>
        $(".sticky-header #logo a img").attr("src", "/Content/userContent/images/logo.png");
    </script>

    <!-- Titlebar
    ================================================== -->
    <div id="titlebar" class="single" style=" background: url(/Employer_images/cover_images/account_settings.jpg) fixed border-box center; background-size: contain; background-size: cover; ">
        <div class="container" style="background-color: rgba(211, 211, 211, 0.5);">

            <div class="sixteen columns">
                <h2>Account Setting</h2>
                <nav id="breadcrumbs">
                    <ul>
                        <li>You are here:</li>
                        <li><a href="#">Home</a></li>
                        <li>Account Setting</li>
                    </ul>
                </nav>
            </div>

        </div>
    </div>


    <!-- Content
    ================================================== -->
    <!-- Container -->
    <div class="container">

        <div class="my-account">
            <ul class="tabs-nav">
                <li class="" style="width:49%;margin-right:5px;"><a href="#tab2">Account Settings</a></li>
                <li style="width:49%;"><a href="#tab1">Change Password</a></li>
            </ul>

            <div class="tabs-container">
                <!-- udate Accout Setting -->
                <div class="tab-content" id="tab2" style="display: none;">
                    <form method="post" class="register" action="/Employer/UpdateAccountSettings">
                        <div class="single">
                            @if (!ViewData.ModelState.IsValid && ViewData.ModelState["first_name"].Errors.Count > 0)
                            {
                                <span style="color:red">

                                    @ViewData.ModelState["first_name"].Errors[0].ErrorMessage

                                </span>
                            }
                            <p class="form-row form-row-wide">
                                <label for="first-name">
                                    First Name
                                    <i class="ln ln-icon-Male"></i>
                                    <input type="text" class="input-text" name="first_name" id="first-name" value="@Model.tb_employer_registration_data.FirstOrDefault().first_name" />
                                </label>
                            </p>
                            @if (!ViewData.ModelState.IsValid && ViewData.ModelState["last_name"].Errors.Count > 0)
                            {
                                <span style="color:red">

                                    @ViewData.ModelState["last_name"].Errors[0].ErrorMessage

                                </span>
                            }
                            <p class="form-row form-row-wide">
                                <label for="first-name">
                                    Last Name
                                    <i class="ln ln-icon-Male"></i>
                                    <input type="text" class="input-text" name="last_name" id="last-name" value="@Model.tb_employer_registration_data.FirstOrDefault().last_name" />
                                </label>
                            </p>
                            @if (!ViewData.ModelState.IsValid && ViewData.ModelState["email"].Errors.Count > 0)
                            {
                                <span style="color:red">

                                    @ViewData.ModelState["email"].Errors[0].ErrorMessage

                                </span>
                            }
                            <p class="form-row form-row-wide">
                                <label for="email2">
                                    Email:
                                    <i class="ln ln-icon-Mail"></i>
                                    <input type="text" class="input-text" name="email" id="email2" value="@Model.email" />
                                </label>
                            </p>
                            @if (!ViewData.ModelState.IsValid && ViewData.ModelState["company_name"].Errors.Count > 0)
                            {
                                <span style="color:red">

                                    @ViewData.ModelState["company_name"].Errors[0].ErrorMessage

                                </span>
                            }
                            <p class="form-row form-row-wide">
                                <label for="Company-Name">
                                    Company Name:
                                    <i class="ln ln-icon-Building"></i>
                                    <input type="text" class="input-text" name="company_name" id="companyName" value="@Model.tb_employer_registration_data.FirstOrDefault().company_name" />
                                </label>
                            </p>
                            @if (!ViewData.ModelState.IsValid && ViewData.ModelState["mobile"].Errors.Count > 0)
                            {
                                <span style="color:red">

                                    @ViewData.ModelState["mobile"].Errors[0].ErrorMessage

                                </span>
                            }
                            <p class="form-row form-row-wide">
                                <label for="mobile-number">
                                    Mobile:
                                    <i class="ln ln-icon-Phone-3G"></i>
                                    <input class="input-text" type="text" name="mobile" id="mobile" placeholder="____-_______" value="@Model.tb_employer_registration_data.FirstOrDefault().mobile" />
                                </label>
                            </p>
                            @if (!ViewData.ModelState.IsValid && ViewData.ModelState["cnic"].Errors.Count > 0)
                            {
                                <span style="color:red">

                                    @ViewData.ModelState["cnic"].Errors[0].ErrorMessage

                                </span>
                            }
                            <p class="form-row form-row-wide">
                                <label for="mobile-number">
                                    CNIC (Optional):
                                    <i class="ln ln-icon-ID-Card"></i>
                                    <input class="input-text" type="text" name="cnic" id="cnic" placeholder="_____-_______-_" value="@Model.tb_employer_registration_data.FirstOrDefault().cnic" />
                                </label>
                            </p>
                        </div>

                        <p class="form-row">
                            <input type="submit" class="button border fw margin-top-10" name="update" value="Update" />
                        </p>

                    </form>
                </div>
                <!-- Login -->
                <div class="tab-content" id="tab1" style="display: none;">
                    <form method="post" class="login" action="/Employer/UpdatePassword">
                        <span style="color:red;">
                            @ViewBag.ErrorMessage
                        </span>
                       
                        <p class="form-row form-row-wide">
                            <label for="old-password">
                                Old Password:
                                <i class="ln ln-icon-Lock-2"></i>
                                <input class="input-text" type="password" name="old_password" id="password" required />
                            </label>
                        </p>

                        <p class="form-row form-row-wide">
                            <label for="password">
                                New Password:
                                <i class="ln ln-icon-Lock-2"></i>
                                <input class="input-text" type="password" name="new_password" id="password" required />
                            </label>
                        </p>
                        <p class="form-row form-row-wide">
                            <label for="repeat-password">
                                Repeat Password:
                                <i class="ln ln-icon-Lock-2"></i>
                                <input class="input-text" type="password" name="new_password_reenter" id="repeat-password" required />
                            </label>
                        </p>

                        <p class="form-row">
                            <input type="submit" class="button border fw margin-top-10" name="login" value="Update Password" />
                        <p class="lost_password">
                            @ViewBag.ErrorLogin
                        </p>
                    </form>
                </div>

            </div>
        </div>
    </div>

    <!-- Footer
    ================================================== -->
    <div class="margin-top-30"></div>

    @Html.Partial("~/Views/Footer/_partialUserFooter.cshtml")

    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>

</div>
<!-- Wrapper / End -->
<script>
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode != 45 && charCode > 31 && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
    $(document).ready(function ($) {

        $('#mobile').mask("****-*******");
        $('#cnic').mask("*****-*******-*");
        //$("#mobile").numeric();
    });

</script>