@model Din_Media_Group_Job_Portal.Models.tb_user
@{
    if (Session["type"] == null)
    {
        ViewBag.Title = "Register as Employer";
        Layout = "~/Views/Shared/UserLayout.cshtml";
    }
    else if (Session["type"] == "jobseeker")
    {
        Response.Redirect("~/User/Home");
    }
    else if (Session["type"] == "employer")
    {
        Response.Redirect("~/Employer/EmployerHome");
    }
    else
    {
        Session.Abandon();
        Response.Redirect("~/User/MyAccount");

    }
}

<div id="wrapper">


    <!-- Header
    ================================================== -->
    <header class="sticky-header full-width">
        @Html.Partial("~/Views/Header/_partialUserHeader.cshtml")

    </header>
    <div class="clearfix"></div>
    <script>
        $(".sticky-header #logo a img").attr("src", "/Content/userContent/images/logo.png");
    </script>

    <!-- Titlebar
    ================================================== -->
    <div id="titlebar" class="single" style=" background: url(/Employer_images/cover_images/my_account.jpg) fixed center; background-size: contain; background-size: cover; ">
        <div class="container" style="background-color: rgba(211, 211, 211, 0.5);">

            <div class="sixteen columns">
                <h2>My Account</h2>
                <nav id="breadcrumbs">
                    <ul>
                        <li>You are here:</li>
                        <li><a href="#">Home</a></li>
                        <li>My Account</li>
                    </ul>
                </nav>
            </div>

        </div>
    </div>


    <!-- Content
    ================================================== -->
    <!-- Container -->
    <div class="container">

        <div class="my-account">

            <ul class="tabs-nav">
                <li class=""><a href="#tab1">Login</a></li>
                <li><a href="#tab2">Register</a></li>
            </ul>

            <div class="tabs-container">
                <!-- Login -->
                <div class="tab-content" id="tab1" style="display: none;">
                    <form method="post" class="login" action="@Url.Content("~/User/MyAccount")">

                        <p class="form-row form-row-wide">
                            <label for="username">
                                Username:
                                <i class="ln ln-icon-Male"></i>
                                <input type="text" class="input-text" name="userName" id="username" value="" required />
                            </label>
                        </p>

                        <p class="form-row form-row-wide">
                            <label for="password">
                                Password:
                                <i class="ln ln-icon-Lock-2"></i>
                                <input class="input-text" type="password" name="password" id="password" required />
                            </label>
                        </p>

                        <p class="form-row">
                            <input type="submit" class="button border fw margin-top-10" name="login" value="Login" />
                        <p class="lost_password">
                            @ViewBag.ErrorLogin
                        </p>
                        <label for="rememberme" class="rememberme">
                            <input name="rememberme" type="checkbox" id="rememberme" value="forever" /> Remember Me
                        </label>


                        <p class="lost_password">
                            <a href="#small-dialog" class="popup-with-zoom-anim">Lost Your Password?</a>
                        </p>

                    </form>
                </div>

                <!-- Register -->
                <div class="tab-content" id="tab2" style="display: none;">
                    <form method="post" class="register" action="/Employer/ValidateEmployerSignUp">
                        <div class="single">
                            @if (!ViewData.ModelState.IsValid && ViewData.ModelState.IsValid && ViewData.ModelState["first_name"].Errors.Count > 0)
                            {
                                <span style="color:red">

                                    @ViewData.ModelState["first_name"].Errors[0].ErrorMessage

                                </span>
                            }
                            <p class="form-row form-row-wide">
                                <label for="first-name">
                                    First Name
                                    <i class="ln ln-icon-Male"></i>
                                    <input type="text" class="input-text" name="first_name" id="first-name" value="" />
                                </label>
                            </p>
                            @if (!ViewData.ModelState.IsValid && ViewData.ModelState.IsValid && ViewData.ModelState["last_name"].Errors.Count > 0)
                            {
                                <span style="color:red">

                                    @ViewData.ModelState["last_name"].Errors[0].ErrorMessage

                                </span>
                            }
                            <p class="form-row form-row-wide">
                                <label for="first-name">
                                    Last Name
                                    <i class="ln ln-icon-Male"></i>
                                    <input type="text" class="input-text" name="last_name" id="last-name" value="" />
                                </label>
                            </p>
                            @if (!ViewData.ModelState.IsValid && ViewData.ModelState.IsValid && ViewData.ModelState["email"].Errors.Count > 0)
                            {
                                <span style="color:red">

                                    @ViewData.ModelState["email"].Errors[0].ErrorMessage

                                </span>
                            }
                            <p class="form-row form-row-wide">
                                <label for="email2">
                                    Email:
                                    <i class="ln ln-icon-Mail"></i>
                                    <input type="text" class="input-text" name="email" id="email2" value="" />
                                </label>
                            </p>
                            @if (!ViewData.ModelState.IsValid && ViewData.ModelState.IsValid && ViewData.ModelState["company_name"].Errors.Count > 0)
                            {
                                <span style="color:red">

                                    @ViewData.ModelState["company_name"].Errors[0].ErrorMessage

                                </span>
                            }
                            <p class="form-row form-row-wide">
                                <label for="Company-Name">
                                    Company Name:
                                    <i class="ln ln-icon-Building"></i>
                                    <input type="text" class="input-text" name="company_name" id="companyName" value="" />
                                </label>
                            </p>
                            
                            @if (!ViewData.ModelState.IsValid && ViewData.ModelState.IsValid && ViewData.ModelState["password"].Errors.Count > 0)
                            {
                                <span style="color:red">

                                    @ViewData.ModelState["password"].Errors[0].ErrorMessage

                                </span>
                            }
                            <p class="form-row form-row-wide">
                                <label for="password1">
                                    Password:  (Enter between 6 and 32 characters)
                                    <i class="ln ln-icon-Lock-2"></i>
                                    <input class="input-text" type="password" name="password" id="password1" />
                                </label>
                            </p>
                            
                            <p class="form-row form-row-wide">
                                <label for="password2">
                                    Repeat Password:
                                    <i class="ln ln-icon-Lock-2"></i>
                                    <input class="input-text" type="password" name="password_reenter" id="password2" />
                                </label>
                            </p>
                            @if (!ViewData.ModelState.IsValid && ViewData.ModelState.IsValid && ViewData.ModelState["mobile"].Errors.Count > 0)
                            {
                                <span style="color:red">

                                    @ViewData.ModelState["mobile"].Errors[0].ErrorMessage

                                </span>
                            }
                            <p class="form-row form-row-wide">
                                <label for="mobile-number">
                                    Mobile:
                                    <i class="ln ln-icon-Phone-3G"></i>
                                    <input class="input-text" type="text" name="mobileNo" id="mobile" placeholder="____-_______" onkeypress="return isNumberKey(event)" />
                                </label>
                            </p>
                            @if (!ViewData.ModelState.IsValid && ViewData.ModelState.IsValid && ViewData.ModelState["cnic"].Errors.Count > 0)
                            {
                                <span style="color:red">

                                    @ViewData.ModelState["cnic"].Errors[0].ErrorMessage

                                </span>
                            }
                            <p class="form-row form-row-wide">
                                <label for="mobile-number">
                                    CNIC (Optional):
                                    <i class="ln ln-icon-ID-Card"></i>
                                    <input class="input-text" type="text" name="cnicNo" id="cnic" placeholder="_____-_______-_" />
                                </label>
                            </p>
                        </div>
                       
                        <p class="form-row">
                            <input type="submit" class="button border fw margin-top-10" name="register" value="Register" />
                        </p>
                        <p class="form-row form-row-wide">
                            <div class="row">
                                By clicking Register, you accept our <a href="#">Terms and Conditions</a>.
                            </div>
                        </p>


                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer
    ================================================== -->
    <div class="margin-top-30"></div>

    @Html.Partial("~/Views/Footer/_partialUserFooter.cshtml")

    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>

</div>
<!-- Wrapper / End -->
<!-- Modal for Lost Password
    ================================================== -->
<div id="small-dialog" class="zoom-anim-dialog mfp-hide apply-popup">
    <div class="small-dialog-headline">
        <h2>Reset Password</h2>
        Provide your email below to get insruction to update your Password.
    </div>
    <div class="my-account">
        <div class="small-dialog-content">
            <form action="#" method="post">
                <p class="form-row form-row-wide">
                    <label for="email-forgot-password">
                        Your Email:

                        <i class="ln ln-icon-Email"></i>
                        <input class="input-text" type="email" name="email-forgot-password" id="email-forgot-password" required />
                    </label>
                </p>
                <p class="form-row">
                    <input type="submit" class="button border fw margin-top-10" name="login" value="Submit" />
                <p class="lost_password">

            </form>
        </div>
    </div>

</div>

<script>
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode != 45 && charCode > 31 && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
    $(document).ready(function ($) {

        $('#mobile').mask("****-*******");
        $('#cnic').mask("*****-*******-*");
        //$("#mobile").numeric();
    });
   
</script>